header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}


li{
    cursor: pointer;
    margin-left: 1rem;
    text-transform: uppercase;
    
}